<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-hello-world" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>
		JSHelloWorldTest
	</name>
    <repo>https://github.com/jasvindersingh-evon/JSHelloWorldTest.git</repo>
	<js-module name="JSHelloWorldTest" src="www/JSHelloWorldTest.js">
		<clobbers target="cordova.plugins.JSHelloWorldTest" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="JSHelloWorldTest">
				<param name="android-package" value="cordova-plugin-hello-world.JSHelloWorldTest" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<source-file src="src/android/JSHelloWorldTest.java" target-dir="src/cordova-plugin-hello-world/JSHelloWorldTest" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="JSHelloWorldTest">
				<param name="ios-package" value="JSHelloWorldTest" />
			</feature>
		</config-file>
		<source-file src="src/ios/JSHelloWorldTest.m" />
	</platform>
</plugin>
